.library-list-item{
    color: #343941;
    display: block;
    width: 200px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 4px 8px 4px 8px;
    background-color: #5b64e7;
    transition: all 0.2s;
    font-size: 14px;
    child-align: middle;
}

.library-list-item-tag{
    margin-left: 3px;
    color: #b2bdcb;
    font-weight: bold;
}

.library-list-item:hover{
    transform: translate(-12px);
}

.library-outer-border{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 1px;
}

.library-list-element{
    display: flex;
    flex-direction: column;
}

.library-options{
    height: 100px;
    margin-bottom: 1px;
}

.library-list{
    overflow: scroll;
    height: 100%;
}