.drawing-canvas{
    position: absolute;
    padding: 4px;
    min-width: 200px;
    min-height: 200px;
    z-index: 2;
    touch-action: none;
    image-rendering: high-quality;
}
.preview-canvas{
    position: absolute;
    padding: 4px;
    min-width: 200px;
    min-height: 200px;
    z-index: 1;
    touch-action: none;
    image-rendering: high-quality;
}
.index-canvas{
    visibility: hidden;
    position: absolute;
    padding: 4px;
    min-width: 200px;
    min-height: 200px;
    z-index: 0;
    touch-action: none;
    image-rendering: high-quality;
}

.outer-canvas-container{
    margin-left: 10px;
}

.thumb-right:hover{
    background-color: #b2bdcb;
    transform: scaleX(1.25);
}

.thumb-right{
    background-color: #5e5e5e;
    transition: all 0.2s;
}

.thumb-bottom:hover{
    background-color: #b2bdcb;
    transform: scaleY(1.25);
}

.thumb-bottom{
    background-color: #5e5e5e;
    transition: all 0.2s;
}

