.popup-box{
    background-color: #343941;
    left: 60px;
    top: 115px;
    width: auto;
    position: fixed;
    cursor: auto;
    border-radius: 5px;
    filter: drop-shadow(3px 3px 3px black);
    visibility: visible;
    transition: opacity 0.2s;
    z-index: 55 !important;
}
.box{
    position: relative;
    width: auto;
    display: flex;
    flex-direction: column;
}

.row{
    float: left;
}
.seperator-box{
    margin: 5px;
    width: inherit;
    height: 20px;
    border-radius: 5px;
    background-color: #282c34;
    display: flex;
    align-items: center;
}
.seperator-title{
    font-size: 10px;
    margin-left: 5px;
}